{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Сортировать по:
            {% for key, value in sort_method.items %}
            <span style="padding: 5px"><a href="/catalog?sort={{ value }}">{{ key }}</a></span>
            {% endfor %}
        </div>

        <div class="content">
            <div class="card-deck">
            {% for phone in phones%}
                <div class="card-body">
                <h2><a href="/catalog/{{ phone.slug }}">{{ phone.name }}</a></h2>
                <h5>Стоимость {{ phone.price }}р.</h5>
                <img src="{{ phone.image }}">
                </div>
            {% endfor %}
                </div>
        </div>
{% endblock %}